home/static/js/turnsignal* linguist-generated=true
home/static/js/TrackballControls* linguist-vendored
home/static/js/bootstrap-native.min.js linguist-vendored
home/static/js/three.min.js linguist-vendored
home/static/css/bootstrap* linguist-vendored
home/static/markdownx/* linguist-vendored
home/static/admin/* linguist-vendored
'untitled folder/*' linguist-vendored
