{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll 3D Modeling Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll 3D Modeling Portfolio</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>3D Modeling Software</h1>
        <ul>
        <li>SolidWorks</li>
        <li>Autodesk Inventor</li>
        <li>FreeCAD</li>
        <li>NX</li>
        <li>AutoCAD</li>
        </ul>
        <hr>
        <div class="row">
        <h2>Turn Signal Housing</h2>
	        <p>The turn signal housings will be used as replacements for a V Strom motorcycle and will reuse the mounting point and lens.
	         Measurements of the physical parts were taken using calipers. The housing was modeled using Autodesk Inventor. The first revision was created to utilize
	         a standard LED turn signal designed for a housing with reflectors.</p>
	         <p>The second revision was created after it was found the LED bulbs were not bright enough
	         in daylight. The housing was redesigned to fit a flat LED array. The length of the loft was shortened, the back end of the housing increased and
	          the light holder removed. The unchanged features did not need fixes due to proper sketch dimensioning and feature hierarchy.</p>
        </div>
	          Model is interactive, left click to spin, right click to pan, middle scroll to zoom
        <div class="row webgl" id="holder">
            <div class="col-xs-12" id="turnsignal"></div>
        </div>

 			<div class="row">
				<div class="col-sm-6">
 				<img class="img-responsive" src="{{static}}/images/turnsignal.jpg">
 				</div>
 				<div class="col-sm-6">
 				<img class="img-responsive" src="{{static}}/images/turnsignaliso.jpg">
 				</div>
 			</div>
          <hr>
          <h2>Differential Mounts</h2>
	          <p>This part was designed for the WSU Formula SAE team using SolidWorks to create a 3D parametric model. The model was carefully created to make
	          full use of the parametric features of SolidWorks by setting dimensions equal to dimensions in other parts. The mounting points for the rear sub-frame
	          differential and tripod joints were constrained to the respective assemblies so my parts would automatically
	          update when changes were made.</p>
				<p>The final geometry:<br>
			<img class="img-responsive" src="{{static}}/images/Diff%20Mount%20.jpg"> </p>
      </div>

    </div> <!-- /.container -->
{% endblock %}

{% block js %}
   <script src="{{static}}/js/three.min.js"></script>
	 <script src="{{static}}/js/TrackballControls.min.js"></script>
	 <script src="{{static}}/js/turnsignal.min.js"></script>
{% endblock %}
