{% extends 'base.html' %}
  {% block description %}
  <meta name="description" content="Patrick Noll's blog, resume and portfolio">
  {% endblock %}
  {% block title %}
  <title>Patrick Noll Personal Website</title>
  {% endblock %}
  {% block css %}
  <link href="{{static}}/css/cover.css" rel="stylesheet">
  <link href="{{static}}/css/starter-template.css" rel="stylesheet">
  {% endblock %}
  {% block cover_classes %}
  {#<div class="site-wrapper">

    <div class="site-wrapper-inner">#}
   {% endblock %}
   {% block photo %}
   <div class="row">
     <div class="col-xs-12">
       <picture>
         <source srcset="{{static}}/images/hurricane_ridge.jpg" media="(min-width: 700px)">
         <source srcset="{{static}}/images/hurricane_ridge_cropped.jpg">
         <img class="img-responsive pic" src="hurricane_ridge.jpg">
       </picture>
     </div>
   </div>
   {% endblock %}
   {% block search %}
       <div class="row search">

   {% endblock %}
      {% block contact %}
      <div id="contact" class="col-md-10">
      <a href="mailto:patrick@patricknoll.com"><img class="iconize" src={{static}}/images/mail.svg></a>
      <a href="https://www.linkedin.com/in/patricknoll"><img class="iconize" src="{{static}}/images/In-2CRev-128px-TM.png"></a>
      <a href="https://github.com/pnoll1"><img class="iconize" src="{{static}}/images/GitHub-Mark-Light-120px-plus.png"></a>
      <a href="https://www.openstreetmap.org/user/patrick noll"><img class="iconize" src="{{static}}/images/OpenStreetMap logo 2011.svg"></a>
      </div>
    </div>
      {% endblock %}
   {% block content %}
     {#}<div class="inner cover">#}
       <div class="starter-template">
         <p>Send an email to patrick@patricknoll.com to contact me.</p>
         <p> You can also click on the envelope icon if you have a mail client setup.</p>
          </div>
        {#</div>#}
      {% endblock %}
      {% block cover_classes_close %}
{#    </div>
</div>#}
  {% endblock %}
  {% block js %}

  {% endblock %}
