{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll Programming Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Programming Portfolio</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Programming Skills</h1>
     			<ul>
				<li>Python</li>
				<li>Javascript</li>
				<li>VBA</li>
				<li>SQL</li>
				<li>HTML & CSS</li>
				</ul>
        <hr>
        <h2>Crane Capacity Look Up</h2>
	        <h3>Excel Capacity Look Up</h3>
		        <p>Looking up crane capacities for each lift involved using info on the Excel cover sheet to find the capacity in a
		        3" binder.  The tedious, error prone process meant I looked up and manually entered capacities 20-80 times per lift plan.</p>
				<p>I automated this process using python with a sqlite db and excel for the frontend.  The capacities for
				each crane are entered into a sqlite db.  The script uses the xlwings module to pull the info from
				the Excel coversheet, then uses the sqlite module to query the database and fills in the capacity cell on the coversheet
				with the info from the db.</p>
				<p>The result saved hours per plan between quicker lookups and eliminating errors.</p>
				<p>The code is available to view on <a href="https://github.com/pnoll1/capLookUp">Github</a>, it's the xlCapLookUp.py file in this repository.</p>
			<h3>Capacity Look Up with GUI</h3>
				<p>A byproduct of the Excel capacity look up project is the accompanying Qt GUI I created. It reuses the db infrastructure from the excel project
				and makes the db accessible to all users on all platforms.

				<img class="img-responsive" src="{{static}}/images/CapLookUpGUI.PNG"></p>
		<hr>
        <h2>Tally Block Fill</h2>

			<p>Filling tally blocks involved manually copying info from the Excel coversheet to the tally block sheet for each lift then copying that sheet into the
			vertical views of each lift.</p>

			<p>I attacked this issue by learning VBA, writing a macro to automatically copy the latest tally block workbook
			to the job folder, select the correct worksheet(it  varied based on crane configuration), renaming the workbook and filling in the appropriate worksheet.</p>

			<p>The script decreased errors on the drawings which lead to an average savings of an hour per plan.</p>

			<p>The code is available to view on <a href="https://github.com/pnoll1/TallyBlockFill">Github</a>.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}
