{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll Programming Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Programming Portfolio</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Programming Skills</h1>
     			<ul>
				<li>Python</li>
				<li>Javascript</li>
				<li>VBA</li>
				<li>SQL</li>
				<li>HTML & CSS</li>
				</ul>
    	<hr>
    	<h2>Patricknoll.com</h2>
    	<p>This website started as a portfolio for my mechanical engineering work and a way to learn web design. Fully static was chosen to ensure low maintenance, low hosting cost and focus on learning HTML and CSS. </p>
        <p>As I got more comfortable with web development, more features were added. I used Javascript to interactively render one of my 3D models. After that, I put together a blog to help with SEO. The last improvement of the static site was adding a map of all my OpenStreetMap work up to that point, using Leaflet. You can see the final fully static site at <a href="https://pnoll1.github.io">pnoll1.github.io</a>. </p>
        <p>Writing html to update a blog is a bit cumbersome so I decided to ditch the fully static ethos and switch to Django so I could easily use the admin interface to add posts written using markdown. I already had experience with Python and MVC, but learning Django is its own challenge since it encompasses everything and has opinions on everything. Django-Markdownx is used interpretate and preview Markdown in the admin interface. The blog is shown on the home page in a paginated feed with links to each post using slugs as you can see on the <a href="/">home page.</a></p>
        <hr>
        <h2>Crane Capacity Look Up</h2>
	        <h3>Excel Capacity Look Up</h3>
		        <p>Looking up crane capacities for each lift involved using info on the Excel cover sheet to find the capacity in a
		        3" binder.  The tedious, error prone process meant I looked up and manually entered capacities 20-80 times per lift plan.</p>
				<p>I automated this process using python with a sqlite db and excel for the frontend.  The capacities for
				each crane are entered into a sqlite db.  The script uses the xlwings module to pull the info from
				the Excel coversheet, then uses the sqlite module to query the database and fills in the capacity cell on the coversheet
				with the info from the db.</p>
				<p>The result saved hours per plan between quicker lookups and eliminating errors.</p>
				<p>The code is available to view on <a href="https://github.com/pnoll1/capLookUp">Github</a>, it's the xlCapLookUp.py file in this repository.</p>
			<h3>Capacity Look Up with GUI</h3>
				<p>A byproduct of the Excel capacity look up project is the accompanying Qt GUI I created. It reuses the db infrastructure from the excel project
				and makes the db accessible to all users on all platforms.

				<img class="img-responsive" src="{{static}}/images/CapLookUpGUI.PNG"></p>
		<hr>
        <h2>Tally Block Fill</h2>

			<p>Filling tally blocks involved manually copying info from the Excel coversheet to the tally block sheet for each lift then copying that sheet into the
			vertical views of each lift.</p>

			<p>I attacked this issue by learning VBA, writing a macro to automatically copy the latest tally block workbook
			to the job folder, select the correct worksheet(it  varied based on crane configuration), renaming the workbook and filling in the appropriate worksheet.</p>

			<p>The script decreased errors on the drawings which lead to an average savings of an hour per plan.</p>

			<p>The code is available to view on <a href="https://github.com/pnoll1/TallyBlockFill">Github</a>.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}
