{% extends "base.html" %}
{% block description %}
  <meta name="description" content="Patrick Noll Mechanical and Software Projects">
{% endblock %}

{% block title %}
      <title>Patrick Noll Resume</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}

    {% block content %}
    <div class="container">
        <div class="starter-template">
        <a class="btn btn-primary" href="resume?q=software" role="button">software</a>
        <a class="btn btn-primary" href="resume?q=mechanical" role="button">mechanical</a>
        <div class="panel panel-default">
        {% for value in projects %}
            <div class="panel panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                    <h4>{{value.name}}</h4>
                    </div>
                    <div class="col-sm-4">
                      <h4>
                      {% for item in value.technologies.all() %}
                        {{item.item}}
                      {% endfor %}
                      </h4>
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-3 date">
                          {% if value.end_date %}
                        <span class="glyphicon glyphicon-calendar icon"></span>{{value.start_date.year}}/{{value.start_date.month}}-{{value.end_date.year}}/{{value.end_date.month}}
                        {% else %}
                        <span class="glyphicon glyphicon-calendar icon"></span>{{value.start_date.year}}/{{value.start_date.month}}- {{value.end_date|replace(None, 'Present')}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
            <ul>
                {% for item in value.responsibilities.all() %}
                <li>{{item.item}}</li>
                {% endfor %}
            </ul>
            </div>

        {% endfor %}
        {% for value in position %}
            <div class="panel panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                    <h4>{{value.name}}</h4>
                    </div>
                    <div class="col-sm-4">
                      <h4>
                      {% for item in value.company.all() %}
                        {{item.name}}
                      {% endfor %}
                      </h4>
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-3 date">
                          {% if value.end_date %}
                        <span class="glyphicon glyphicon-calendar icon"></span>{{value.start_date.year}}/{{value.start_date.month}}-{{value.end_date.year}}/{{value.end_date.month}}
                        {% else %}
                        <span class="glyphicon glyphicon-calendar icon"></span>{{value.start_date.year}}/{{value.start_date.month}}- {{value.end_date|replace(None, 'Present')}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
            <ul>
                {% for item in value.responsibilities.all() %}
                <li>{{item.item}}</li>
                {% endfor %}
            </ul>
            </div>

        {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
