{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll Design Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Customer Focused IT Services</h1>
  		<ul>
    		<li>FOSS is prioritized</li>
    		<li>Cost is minimized</li>
        <li>Utility is maximized</li>
		</ul>
        <hr>
    <h2><a id="server_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Server</h2>

    <ul>
      <li>OS: Debian Stable</li>
    </ul>

		<p>Standard setup includes a web server, wiki, Kanban board, contact/calendar sync, samba share on an encrypted drive. Setup for router port forwarding included.</p>

		<h2><a id="desktop_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Desktop</h2>
    <ul>
      <li>OS: Debian Stable, Testing or Debian Derivitives</li>
    </ul>
		<p>Standard office user setup includes Mate desktop environment that comes with full suite of software.</p>

    <h2><a id="website_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Website</h2>
    <ul>
      <li>Options: Django, Wordpress, Static Site</li>
    </ul>
		<p>Sites can range from basic contact info to a blogging platform you can use to keep up with your customers.</p>

    <h2><a id="openstreetmap_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>OpenStreetMap</h2>
    <ul>
      <li>Options: Editing, Extracts, Static and Dynamic Maps</li>
      <li>$10 Add or update your business</li>
    </ul>
    <p>Become a part of the OpenStreetMap(OSM) ecosystem being used by hundreds of millions of people. Get your business added to make
    sure customers can find you in their favorite apps. Want a static map to your business without strings attached? Done. Data to make your own map
    using a custom style? Done. Data for whatever you dream up? Done.</p>

    <h2><a id="custom_requests" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Custom Requests</h2>
    <p> Need something specific? Don't know where to start?  Message me and we can discuss options(no charge).</p>
    <h3>Things I've setup</h3>
    <ul>
      <li>Multiple Kodi clients running off central Mysql server</li>
      <li>ZFS on linux with snapshoting, compression and raid</li>
      <li>OpenVPN and RDP setup</li>
      <li>Python Venvs, database setup, VM setup and other dev environment related admin operations</li>
    </ul>
{% endblock %}
