{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll Services - FOSS IT solutions from Home to Cloud">
{% endblock %}
{% block title %}
    <title>Patrick Noll IT/Programming Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    		<h1>Solutions from Home to Cloud</h1>
        <hr>
    <div class="alert alert-info" role="alert">
	In person service will resume during Phase 2. Remote support is available.
    </div>
    <div class="row">
    <div class="col-md-5">
    <h2><a id="installation_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Linux Server & Desktop</h2>

    <ul>
      <li>OS: Debian or Debian derivitives</li>
      <li>Install Price: Starting at $100</li>
      <li>Support Price: Email for quote
    </ul>
    </div>
    <div class="col-md-7">
      <img class="logos" src="{{static}}/images/debian_logo.png">
      <img class="logos" src="{{static}}/images/ubuntu-logo14.png">
      <img class="logos" src="{{static}}/images/Linux Mint Logo.svg">
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <h3>Install</h3>
		    <p>Get started with Linux the easy way. Installs done quickly with advice on how to make the transition smooth. Support available if you need it.</p>
      </div>
      <div class="col-md-4">
        <h3>Configure</h3>
  		    <p>We can help create a more productive setup. Common items include installing software or setting up remote access.</p>
      </div>
      <div class="col-md-4">
        <h3>Restore</h3>
  		    <p>Everybody makes mistakes. We can backup files and restore to a working state.</p>
      </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-md-6">
    <h2><a id="programming_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Programming</h2>
    <ul>
      <li>Languages: Python, SQL</li>
      <li>Price: Email for quote</li>
    </ul>
    </div>
    <div class="col-md-6">
      <img class="logos" src="{{static}}/images/python-logo-generic.svg">
    </div>
    </div>
		<p>Streamline manual processes using consistent, repeatable programs. Anything from automating an excel spreadsheet to setting up a database that can be accessed across the company.</p>

    <a href="mailto:patrick@patricknoll.com" class="btn btn-primary mail"><img class="iconize" src={{static}}/images/mail.svg>Contact</a>
{% endblock %}
