{% extends "base.html" %}
{% block description %}
    <meta name="description" content="Patrick Noll Services - Provides FOSS IT solutions from Home to Cloud">
{% endblock %}
{% block title %}
    <title>Patrick Noll IT/Programming Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Customer Focused IT Services</h1>
  		<ul>
    		<li>FOSS is prioritized</li>
    		<li>Cost is minimized</li>
        <li>Utility is maximized</li>
		</ul>
        <hr>
    <h2><a id="installation_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Linux Server & Desktop</h2>

    <ul>
      <li>OS: Debian or Debian derivitives</li>
      <li>Price: Starting at $100
    </ul>

		<p>Everything to get you started with Linux. Linux distribution and desktop environment selected based on your needs. Don't understand that last sentence? That's where I come in.</p>

    <h2><a id="scripting_services" class="anchor" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Scripting</h2>
    <ul>
      <li>Languages: Python, SQL</li>
    </ul>
		<p>Streamline manual processes using consistent, repeatable scripts. This can involve anything from automating an excel spreadsheet to setting up a database that can be accessed across the company.</p>

    <a href="mailto:patrick@patricknoll.com"><button id="mail"><span class="glyphicon glyphicon-envelope icon"></span>Contact Me</button></a>
{% endblock %}
