{% extends 'base.html' %}
  {% block description %}
  <meta name="description" content="">
  {% endblock %}
  {% block title %}
  <title>Downloads</title>
  {% endblock %}
  {% block css %}
  <link href="{{static}}/css/starter-template.css" rel="stylesheet">
  {% endblock %}
  {% block cover_classes %}
   {% endblock %}

   {% block search %}
   {% endblock %}
   {% block content %}
   <div class="container">
     <div class="starter-template">
     <div class="row">
       <div class="col-xs-12">
         <div class="panel panel-default">
           <div class="panel-heading"> Current OSMAnd File List</div>
           <div class="table-responsive">
             <table class="table">
               <tr>
                 <td>File Name</td>
                 <td>Last Modified</td>
                 <td>Size (MB)</td>
               </tr>
               {% for file in files_obf %}
               <tr>
                 <td><a href="downloads/static/downloads/{{file[0]}}">{{file[0]}}</a></td><td>{{file[1]}}</td><td>{{file[2]}}</td>
               </tr>
               {% endfor %}
             </table>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12">
           <div class="panel panel-default">
             <div class="panel-heading"> Current Maps.Me File List</div>
             <div class="table-responsive">
               <table class="table">
                 <tr>
                   <td>File Name</td>
                   <td>Last Modified</td>
                   <td>Size (MB)</td>
                 </tr>
                 {% for file in files_mwm %}
                 <tr>
                   <td><a href="downloads/static/downloads/{{file[0]}}">{{file[0]}}</a></td><td>{{file[1]}}</td><td>{{file[2]}}</td>
                 </tr>
                 {% endfor %}
               </table>
           </div>
         </div>
       <div class="row">
         <div class="col-xs-12">
       <p>Email patrick@patricknoll.com for issues</p>
     </div>
   </div>
     </div>
     </div>
     </div>
    </div>
   {% endblock %}
   {% block cover_classes_close %}
   {% endblock %}
   {% block js %}
   {% endblock %}
