{% extends 'base.html' %}
{% block description %}
    <meta name="description" content="Patrick Noll Design Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
  {% block content %}
  <div class="container">
    <div class="starter-template">
          <form class="navbar-form" method="post">
            <div class="form-group">
                {{ csrf_input }}
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
            </div>
            <button type="submit" class="pure-button pure-button-primary">Login</button>
          </form>
          <a href='/register'>Register </a>
    </div>
  </div>
  {% endblock %}
