{% extends 'base.html' %}
{% block description %}
    <meta name="description" content="Patrick Noll Design Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="starter-template">
    {#<script src="https://js.stripe.com/v3/"></script>
    <script>
    var CHECKOUT_SESSION_ID = {{CHECKOUT_SESSION_ID|tojson}};
    var stripe = Stripe('pk_test_g3ZmWTqOWgTw3FymaBC9tZLU00Bp8Zg8rG');
    function Checkout () {stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as parameter here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: CHECKOUT_SESSION_ID
    }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
    });
  }
</script>#}
    <form class="navbar-form" method="post">
      <div class="form-group">
        {{ csrf_input }}
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <input name="password_confirm" type="password" placeholder="retype password">
        <input name="email" type="text" placeholder="email">
        <button type="submit" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Register and Pay
        </button>
      </div>
    </form>
    </div>
  </div>
{% endblock %}
{% block js %}
{#<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('body');</script>#}
{% endblock %}
