{% extends 'base.html' %}
{% block description %}
    <meta name="description" content="Patrick Noll Design Examples">
{% endblock %}
{% block title %}
    <title>Patrick Noll Services</title>
{% endblock %}
{% block css %}
    <link href="{{static}}/css/starter-template.css" rel="stylesheet">
{% endblock %}
  {% block content %}
  <div class="container">
    <div class="starter-template">
          <h3> Billing Address </h3>
          <form class="navbar-form" method="post">
            <div class="form-group">
                {{ csrf_input }}
                <input name="address" type="text" placeholder="address">
                <input name="zip" type="number" placeholder="zip">
                <input name="city" type="text" placeholder="city">
                <input name="state" type="text" placeholder="state">
            </div>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
          </form>
    </div>
  </div>
  {% endblock %}
